body {
	overflow-y: scroll !important;
}

html, body {
    font-size: 16px;
    line-height: 1.5;
	height: 100%;
	margin: 0;
	padding: 0;
    font-family: var(--FONT_3);
}



 
@media screen and (max-width: 499px) {

    html, body {
      font-size: 14px;
      line-height: 1.2;
    }   

	h1 {
		font-size:1.5em;
	}

	.img_howto {

		height:300px;
		width:300px;
	}

}
  


 
@media screen and (min-width: 500px) {

.img_howto {
	height: auto;
	width: 45vw;
}
}



table {

	border-spacing: 0;
	padding: 2vh 2vw;
    line-height: 140%;
}


#contact_table {
	float:none;
	position: relative;
	margin:0 auto;

	width:fit-content;
	background-color: var(--LEEDZ_GRAY);
	border-radius: 10px;
	font-size:larger;
	font-weight:600;
}

#contact_table a {
	text-decoration:none;
}





@media screen and (max-width: 900px) {

	#contact_table {
		font-size:medium;
		padding:6px;
	}

	#td_links {
		font-size:small;
	}

}



table a {
    color:green;
}

table tbody td {
	
	text-align: left;
    padding:1vh 1vw;

}

#td_links {
	font-size:medium;
}


td.badge_icon {
	width:60px;	
	max-width: 60px;
	margin: 0 5vw;

}

table#badges_list {

	padding:1vh 0.5vw;
	margin: auto 0;
}

td#td_badges {
	width: min-content;
	height:fit-content;
	background-color: white;
	margin: 0 auto;

}


table#badges_list tbody td {
	border:0;
	padding:1vh 0.5vw;
}





.labelTD {

	padding: 1vh 1vw;

	font-family: var(--FONT_3);
	font-weight: 600;
}





.back_button {

	z-index: 900;
 
	transform: rotate(180deg);
	
	font-size: 20px;
	font-weight:600;
	cursor: pointer;
	background-color: var(--LEEDZ_DARKGREEN);
	color: white;
	padding: 10px 15px;
	border: none;
}

.back_button a {

	  
	text-decoration:none;
	color:white;
}



.save_button {

    position:relative;

    background-color: var(--LEEDZ_GREEN);
    border: none;
    color:black;
    
    text-decoration: none;
    display: flex;

    font-size:1.2em;
    font-weight: bolder;

    width:fit-content;
    height:max-content;

    margin: 25px 0px;

    padding-top:20px;
    padding-bottom:18px;
    padding-left:30px;
    padding-right:30px;
 
    border-radius: 12px;

    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);    
}


