/* action_panel.css */

@import "./globals.css";

  

#action_panel {

    
    height:100%;


    /* screen size-dependent -->  display:flex; */
    background-color: white;

    border-left:2px solid lightgray;

    vertical-align: middle;

    text-align: start;


    padding: 20px 6px;

    margin-left:0;
    margin-right:auto;

}



.leed_info_container {

    display:flex;
    flex-direction:column;


    width:94%;
    height:70vh;

    padding: 0;
    margin: 0 0 0 6px;

    background-color:var(--LEEDZ_GRAY);
 
    border: 2px solid var(--LEEDZ_DARKGREEN);

    font-size:1.1em;
    
    overflow-y:scroll;
}



.lic_row {
    
    width:auto;
    padding:0 !important;

}


.lic_row a {

    color:green;

    font-weight: bolder;
}



.lic_column {


    padding: 16px;

    border: 1px solid var(--LEEDZ_DARKGRAY);
}





#leed_title {

    align-items: start;
    background-color: white;
    border-bottom: 1px solid var(--LEEDZ_DARKGRAY);
    padding:0px;
    font-weight: bolder;
}  





.buy2show {

    background-color: var(--LEEDZ_GREEN);
    color:black;
    font-weight: 600;
}


#lic_color {

    display: block;
    
    text-align: center;

    max-width: 15px !important;
    padding-left:4px;
    margin: auto 0;
    border:0;
}


#lic_trade {
    display: block;
    text-align: center;

    border: 1px solid white;
    border-radius: 4px;

    padding: 6px 10px;
    margin: auto 0;
    
    width: fit-content;
    max-width: fit-content;
}

#lic_date {

    display:block;
    border:0;
    padding:0px;
    margin: auto 10px;

    width: max-content;
    
}


#pr_label {

    font-weight:600;
    color:darkgreen;
}


#pr_value {

    color:black;
    background-color: var(--LEEDZ_GREEN);

    font-family: var(--FONT_1);
    font-size: larger;
    font-weight:600;
    letter-spacing: 0.06em;

}




.buy_button {

    display:flex;
    
    position:relative;

    background-color: var(--LEEDZ_GREEN);
    border: none;
    color: black;
   
    
    text-decoration: none;

    font-size:2.25em;
    font-weight: bolder;

    width:max-content;
    height:max-content;

    margin-top:30px;

    padding-top:25px;
    padding-bottom:15px;
    padding-left:30px;
    padding-right:30px;
 
    border-radius: 20px;

    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);    
}



img#shopping_cart {

    width:40px;
    height:40px;
    padding: 4px;

    transform: translateY(-4px);

}





.edit_button {

    
    display:flex;
    
    position:relative;

    background-color: var(--LEEDZ_GREEN);
    border: none;
    color: black;
   
    
    text-decoration: none;

    font-size:2em;
    font-weight: bolder;

    width:max-content;
    height:max-content;

    margin-top:5vh;

    padding-top:20px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
 
    border-radius: 16px;

    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.2);    
}



img#edit_icon {

    width:35px;
    height:35px;
    padding: 4px;

    transform: translateY(-4px);

}