/* action_panel.css */

@import "./globals.css";

  

#action_panel {
    
    /* screen size-dependent -->  display:flex; */
    flex-direction: column;
    background-color: white;

    border-left:2px solid lightgray;

    vertical-align: middle;
    align-items:start;


    padding: 20px 6px;

    margin:0;
}



.leed_info_container {

    display:flex;
    flex-direction:column;


    width:94%;
    height:fit-content;

    padding: 0;
    margin: 0 0px 0 6px;

    background-color:var(--LEEDZ_GRAY);
 
    border: 2px solid var(--LEEDZ_DARKGREEN);

    font-size:1.2em;
}

.lic_row {
    
    width:auto;
    padding:0 !important;

}


.lic_column {
    padding:14px;
    border: 1px solid var(--LEEDZ_DARKGRAY);
}


#leed_title {

    align-items: start;
    background-color: white;
    border-bottom: 1px solid var(--LEEDZ_DARKGRAY);
    padding:0px;
    font-weight: bolder;
}  




#lic_color {

    display: block;
    
    text-align: center;

    max-width: 15px !important;
    padding-left:4px;
    margin: auto 0;
    border:0;
}


#lic_trade {
    display: block;
    text-align: center;

    border: 1px solid white;
    border-radius: 4px;

    padding: 6px 10px;
    margin: auto 0;
    
    width: fit-content;
    max-width: fit-content;
}

#lic_date {

    display:block;
    border:0;
    padding:0px;
    margin: auto 10px;

    width: max-content;
    
}


.buy_button {

    position:relative;

    background-color: var(--LEEDZ_GREEN);
    border: none;
    color: black;
   
    
    text-decoration: none;
    display: flex;

    font-size:2.4em;
    font-weight: bolder;

    width:max-content;
    height:max-content;

    margin-top:50px;

    padding-top:25px;
    padding-bottom:20px;
    padding-left:30px;
    padding-right:30px;
 
    border-radius: 20px;

    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);    
}



img#shopping_cart {

    width:40px;
    height:40px;
    padding: 4px;

    transform: translateY(-4px);

}