/* 
 * calendar.css 
 */
  


 #calendar_main {

  margin-left:auto;
  margin-right:0;
  
  padding-left:6px;


  text-align: right;

  background-color: white;
 }
 
 .trades_calendar {

    position:relative;

    list-style-type: none;

    height:100vh;    
  }



 
.trades_calendar > * {

    display:grid;
    position:absolute;

}



  #calendar_panel {

    height:80vh;
    padding-top:10px;
  
  }






  #calendar_list {
    
    position:absolute;
    
    width:100%;

    left:0;
    height:100%;
    overflow-y: scroll;    
  }

  
  
  .each_day {
  
    display:inline-flex;
    align-items: center;


    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--LEEDZ_DARKGRAY);
    background-color: var(--LEEDZ_GRAY);

    margin: 4px 0px;
    padding: 6px;

    width:95%;
  }




  button.trade_radio {
    margin-top: 14px;
    margin-left:4px;
  }




.leed_thumbnail {

    position:fixed;
    display:flex;
    text-align: start;

    opacity: 0;

    width: max-content;
    height: max-content;

    padding: 10px 16px;

    color:green;
    background-color:white;
    border-radius: 20px;

    font-family: var(--FONT_1);
    font-size: 1em;
}



  .each_day > .dateSquare {

    display:grid;
    width: max-content;
    justify-content: center;
    text-align: center;
    
    background-color:var(--LEEDZ_GREEN);
    border-radius: 6px;

    margin-right:10px;

    padding-bottom:6px;
    padding-left:6px;
    padding-right:8px;
    padding-top:4px;

    
    font-family: var(--FONT_1);
    color:black;
    font-size:2em;
    font-weight: bold;

    width:50px !important;
}


  .each_day > .dateSquare > span {
    font-size:small;
    color:black;
    font-weight:400;
  }


  

