 /* GLOBAL VARIABLES */
 :root {

    --CENTER-WIDTH: 46vw;

    --LEEDZ_BKG: white;
    --LEEDZ_GRAY:rgba(239, 242, 247, 0.876); 
    --LEEDZ_DARKGRAY: rgba(181, 181, 185, 0.844);
    --LEEDZ_LIGHTGREEN:rgb(215, 240, 230);
    --LEEDZ_GREEN: rgb(97, 234, 178);
    --LEEDZ_DARKGREEN: #04AA6D;
 
/*     --LEEDZ_GRAY:rgb(239, 242, 247);  */

    --FONT_1: "Ebrima";
    --FONT_2: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --FONT_3: "Lato", sans-serif;
    
 }

 @font-face { 
    font-family: "Ebrima";
    src: url("../fonts/ebrima.ttf");
  }
  .ebrima_font { font-family: "Ebrima"; }
  
  @font-face { 
    font-family: "Ebrima_bold";
    src: url("../fonts/ebrima-bold.ttf");
  }
  .ebrima_bold { 
    font-family: "Ebrima_bold";
    line-height: 1.5em;
   }
  
  
 

      
   html {
      
    font-size: 14px;
    line-height: 1.2;
    font-family: var(--FONT_3);
    color: black;
    overflow-y: hidden;
    } 




   * {
    padding: 0;
    margin: 0;

    }


   body {
    background-color: white;
    display: flex;
    flex-direction: column;
  
  }



  .column  {
   flex-basis: 100%;
  }




.row {
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border:0;

    width:100%;
    justify-content:space-around;

}




#main_panel {
  height: 100%;
  display:flex;
  top:0;
}







/*
 *
 *
 */
#error_modal {

  display: none;
  background-color: white;
  color:black;

  font-family: var(--FONT_1);
  font-size: 20px;

}



/* The sidepanel menu */
.trades_side {

  height: 91vh;

  width: max-content; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 900; /* Stay on top */


  left: 0;
 
  overflow-x: hidden; 
  overflow-y: hidden;
  
  padding-right:0px;

  background-color: var(--LEEDZ_GRAY);
  border-right: 2px solid lightgray;

}




/* The sidepanel links */
.trades_side a {
  text-decoration: none;
}





.openbtn {

  
  position:fixed;
  z-index: 900;
 
  left:200px;
  top:auto;

  transform: rotate(180deg);
  
  font-size: 20px;
  font-weight:600;
  cursor: pointer;
  background-color: var(--LEEDZ_GRAY);
  color: green;
  padding: 10px 15px;
  border: none;
}


#calendar_main {
  position: relative;
  left:0;
  padding-left:0;
  text-align:left;

  margin-left:auto;
  margin-right:auto;
}



._05 {
  flex: .5;
  }  


  ._1 {
  flex: 1;
  }


  ._15 {
flex: 1.5;
  }  


  ._2 {
  flex: 2;
  }

  ._25 {
  flex: 2.5;
  }

  ._3 {
    flex: 3;
    }

  ._35 {
  flex: 3.5;
  }

  ._4 {
  flex: 4;
  }

  ._45 {
  flex: 4.5;
  }

  ._5 {
  flex: 5;
  }

  ._6 {
    flex: 6;
  }
    
  ._7 {
    flex: 7;
  }

  ._8 {
    flex: 8;
  }

  ._9 {
    flex: 9;
  }


