
/*
 *
 *
 */

 @import "./globals.css";



.modal {
  
  display: block;
  z-index:900;

  position: fixed;
  
  left:0;
  top:0;

 
  width:100%;
  height:100%;

}

/*
.modal:not(:target) {
  display:none;

}
*/



.modal h1 {

  margin: 0;

  width:max-content;
  background-color: var(--LEEDZ_GRAY);
  padding: 20px;
  border-radius:10px;
  font-size:24px;
  line-height:1.35em;
}


.modal h1 a {
  color:green;
}




.modal h2 {

  margin:0px auto 0px auto;
  
  width:fit-content;
  background-color: var(--LEEDZ_GRAY);
  padding:15px;
  border-radius:6px;
  font-size: large;
}



/*
 *
 *
 */
 #error_modal {

  display: none;
  
  margin-left:10vw;
  margin-top: 15vh;

  text-decoration: none;

  background-color: white;
  color:black;

  padding:20px;

  width:60vw;
  height:70vh;
  
  border: 4px solid red;
  border-radius: 20px;
}



#error_modal a {


  font-weight: 600;
  text-decoration: none;
}



#error_logo {

  padding: 10px 10px 30px 10px;

  height:150px;
}




#error_modal_close {

    display:block;
    position:relative;

  font-family: var(--FONT_3);
  background-color:var(--LEEDZ_DARKGREEN);

  color:white;

  top: 20px;
  left:5px;

  padding:10px;
  width:30px;
  border-radius: 10px;

  transform: rotate(180deg);
  font-size: x-large;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
}





#buy_modal_close {

  font-family: var(--FONT_3);
  background-color:var(--LEEDZ_DARKGREEN);

  color:white;

  padding:10px 14px;
  margin-right:6px;


  width:fit-content;
  border-radius: 10px;

  font-size: x-large;
  font-weight: bolder;
  text-decoration: none;

  text-align: center;
}






#back_button_close {

  display:block;
  position:relative;

font-family: var(--FONT_3);
background-color:var(--LEEDZ_DARKGREEN);

color:white;

top: 50px;
left:5px;

padding:10px;
width:30px;
border-radius: 10px;

  transform: rotate(180deg);
font-size: x-large;
font-weight: bolder;
text-decoration: none;
text-align: center;
}




