
/*
 *
 *
 */

 @import "./globals.css";



.modal {
  
  display:block;
  z-index:900;

  position: fixed;


  left:5vw;

  width:100% !important;
  height:100% !important;

  background-color: white;
}





.modal h1 {

  margin: 5vh auto;

  width:90%;
  background-color: var(--LEEDZ_GRAY);
  padding: 20px;
  border-radius:10px;
  font-size:24px;
  line-height:1.35em;
}


.modal h1 a {
  color:green;
}



.modal h1 table {
  width:100%;
}




.modal h2 {

  margin:0px auto 0px auto;
  
  width:fit-content;
  background-color: var(--LEEDZ_GRAY);
  padding:15px;
  border-radius:6px;
  font-size: large;
}




/*
 *
 *
 */
 #guest_modal {

  display: none;
  
  margin: 15vh auto;

  width:60vw !important;
  height:70vh !important;

  text-decoration: none;

  background-color: white;
  color:black;

  
  padding:20px;

  border: 4px solid var(--LEEDZ_GREEN);
  border-radius: 20px;
}



#guest_modal a {


  font-weight: 600;
  text-decoration: none;
}



#guest_logo {

  padding: 10px 10px 30px 10px;

  height:150px;
}




#guest_modal_close {

    display:block;
    position:relative;

  font-family: var(--FONT_3);
  background-color:var(--LEEDZ_DARKGREEN);

  color:white;


  top: 20px;
  left:20px;

  padding:10px;
  width:30px;
  border-radius: 10px;

  transform: rotate(180deg);
  font-size: x-large;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
}




/*
 *
 *
 */
 #newUser_modal {

  display: none;
  
  margin: 15vh auto;

  width:60vw !important;
  height:70vh !important;

  text-decoration: none;

  background-color: white;
  color:black;

  
  padding:20px;

  border: 4px solid var(--LEEDZ_GREEN);
  border-radius: 20px;
}



#newUser_modal a {


  font-weight: 600;
  text-decoration: none;
}



#newUser_logo {

  padding: 10px 10px 30px 10px;

  height:150px;
}




#newUser_modal_close {

    display:block;
    position:relative;

  font-family: var(--FONT_3);
  background-color:var(--LEEDZ_DARKGREEN);

  color:white;

  top: 20px;
  left:20px;

  padding:10px;
  width:30px;
  border-radius: 10px;

  transform: rotate(180deg);
  font-size: x-large;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
}






 #error_modal {

  display: none;
  
  z-index:900;

  position: fixed;

  margin-left:10vw;
  margin-top: 15vh;

  text-decoration: none;

  background-color: white;
  color:black;

  padding:20px;

  width:60vw;
  height:70vh;
  
  border: 4px solid #f44336;
  border-radius: 20px;
}

#error_modal h1 {

  font-size: 1em;
}

#error_modal a {


  font-weight: 600;
  text-decoration: none;
}



#error_logo {

  padding: 10px 10px 30px 10px;

  height:150px;
}




#error_modal_close {

    display:block;
    position:relative;

  font-family: var(--FONT_3);
  background-color:var(--LEEDZ_DARKGREEN);

  color:white;

  top: 20px;
  left:5px;

  padding:10px;
  width:30px;
  border-radius: 10px;

  transform: rotate(180deg);
  font-size: x-large;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
}









#back_button_close {

  display:block;
  position:relative;

font-family: var(--FONT_3);
background-color:var(--LEEDZ_DARKGREEN);

color:white;

top: 50px;
left:5px;

padding:10px;
width:30px;
border-radius: 10px;

  transform: rotate(180deg);
font-size: x-large;
font-weight: bolder;
text-decoration: none;
text-align: center;
}



/* The alert message box */
.alert {
  padding: 20px;

  margin:2vh 0px;

  background-color: var(--LEEDZ_DARKGREEN);
  color: white;

  width:99%;

  font-family: var(--FONT_1);

  font-size: 22px;
  font-weight: 600;

}

/* The close button */
.closebtn {

  margin: auto 2vw;
  color: white;
  font-weight: bold;
  float: right;

  transform: translateY(-5px);

font-family: var(--FONT_1);

font-size: 30px;

  cursor: pointer;
  transition: 0.3s;
}



