@import "./globals.css";


html, body {
  overflow-y: scroll !important;
}

.container {
    
    display: flex;
    flex-wrap: wrap;
    height:100%;
    padding: 2vw;
}

#stats_header{
    display: flex;

    width:100vw;
  
    margin: 1vh auto 0 1vw;
}

#stats_footer{

  display: flex;
  align-items: center;
  position: static;
  bottom: 0;
  margin: 0 auto;

  padding:1vw;
  width:100vw;
  height:5vh;
  background-color: var(--LEEDZ_EMERALD);
  color:white;

  font-family: var(--FONT_2);
}



#stats_footer span {
  margin:0 auto;
  width:80%;
}

#stats_footer a {
  text-decoration: none;
  color:white;
}


#page_title {
  
  line-height:150%;
  width: auto;
  max-width: 0%;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 2s linear;
}


@media screen and (min-width: 950px) {
    #page_title {
      margin-left:-4vw;
    }
}


#links_header {
  line-height:4vh;
  background-color: var(--LEEDZ_EMERALD);
  color:white;
}



#links_header a {
  text-decoration: none;
  color:white;
}





@media screen and (min-width: 650px) {


  #links_header a {
    font-size: large;
  }

}




.login_col {
    display: flex;
    justify-content: left;
    margin: auto;
    padding-right:30px;
    
}

#header_login {
 font-family: var(--FONT_3);
}

.header_col {

    color:black;
   
    font-family: var(--FONT_2);
    font-weight: 600;
    margin:auto 0;
    padding-left:10px;
}

.item {


  display: flex;
  flex-direction: column;
  align-items: left;

  text-align: left;


  margin:1vh 2vw;

  background-color: var(--LEEDZ_GRAY);    
  color:black;

  border-radius: 12px;

  padding:0;

  flex-basis: 180px;
  min-width: 300px;
  height:fit-content;
  min-height: 150px;


  box-sizing: border-box; /* Add box-sizing property */
}



.item_title {
  position: sticky;
  top: 0;
  padding: 1vw 2vw;
  width: 100%;
  
  background: linear-gradient(to right, var(--LEEDZ_DARKGREEN), white);
  color: white;

  text-align: left;
  font-family: var(--FONT_2);
  font-weight:600;

  box-sizing: border-box; /* Add box-sizing property */
}



a {
  color:green;
  font-weight:600;
}

.item .statsTable {
  display:none;
}

.item .waitSpinner {
  display:block;

  padding:1.5vh;

  z-index:600;
}

.item .waitSpinner img {
  border-radius: 10px;
  
}


#top_trades table {
  padding: 1vw 2vw 1vw 2vw;
}

#trades_table {
  padding-top:6px;
}



#leedz_text_1, #leedz_text_2, #leedz_text_3 {
  background-color: white;
}



#leedz_text_1 a, #leedz_text_2 a, #leedz_text_3 a  {
 text-decoration: none;
}


#leedz_text_1 span, #leedz_text_2 span, #leedz_text_3 span {
  font-family: var(--FONT_1);
  font-size:medium;
  line-height: 115%;
  padding: 1vw 2vw;

}



#leedz_leaders table {
  font-size:medium;
  padding:2vw;
  line-height: 4vh;
}



#leedz_live table {

  margin-left:1vw;
  padding:1vw 2vw 1vw 2vw;
  line-height: 175%;
}





#loginButton {
  font-family: var(--FONT_3);
}

#login_item {
  
  min-height:fit-content;
 
}

#login_item .item_title {
  background: dodgerblue;
 
}

#login_item span {
  margin: 20px 2vw 0px 2vw;
  font-size:medium;
}

#login_item img {
  max-width: 100px;
  width:min-content;
  padding:10px;
}


#login_item table {
  margin:0 auto;
  max-width: 80%;
  max-height: 100%;
}



#login_item table td {
  padding:0;
  align-self: center;
}



#square_item {
  
  min-height:fit-content;
 
}


#sq_logo_invert {

  -webkit-filter: invert(1);
  filter: invert(1);

}

#square_item .item_title {
  background: black;
 
}

#square_item span {
  margin: 20px 2vw 0px 2vw;
  font-size:medium;
}

#square_item img {
  width: 90px;
  height:90px;
  padding:10px;
}


#square_item table {
  margin:0 auto;
  max-width: 80%;
  max-height: 100%;
}



#square_item table td {

  font-family: var(--FONT_1);
  font-size:medium;
  line-height: 115%;
}







a#date_posted {
  font-size: small;
}

a#date_bought_2 {
  font-size: small;
}

a#date_bought_3 {
  font-size: small;
}



#last_sale table {
  font-size:medium;
  padding: 1vw 2vw 2vw 2vw;
  line-height: 175%;
}


#contact_item {
  min-height:220px;
}

#contact_item .item_title {
  background: gold;
  color:black;
}

#contact_item ul {
    margin-left:20%;
    margin-bottom:1vh;

    font-family: var(--FONT_1);

    font-size:medium;
    width:75%;
    font-weight:600;
}


#contact_item #contactButton {
  margin:1vh auto 1vh auto;
  background-color: coral;
  color:white;
  font-family: var(--FONT_3);
}




 

.stats_button {

  position:relative;
  padding:15px 20px;
  
  border: none;
  color: white;
  background-color: dodgerblue;

  text-decoration: none;
  display: flex;

  border-radius: 14px;

  width:max-content;
  height:max-content;


  font-family: var(--FONT_3);
  font-size:medium;
  font-weight:600;

  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);    
}








@media screen and (max-width: 649px) {
    .container {
       flex-direction: column;
        align-items: left;
      }
      
      .item {
        width:96%;
      }

      .item_title {
        font-size:medium;
      }


      #dropdown_logo{
        margin: 1vh auto 0 1vw;
        width:100%;
        min-width:40px;
        max-width:100px;
      }

       


    .header_col {

        font-size:4vw;
    }

    #header_login {
      padding:12px;
      font-size:90%;
      margin: 8px auto;
     }

    #login_item table td {
      
      min-width:100px;
    }




#leedz_text_1 span, #leedz_text_2 span, #leedz_text_3 span {
      vertical-align: middle;
      margin:auto 0;
      font-size:medium;
      line-height: 115%;
    }

    


    
  #stats_footer{
    font-size:smaller;
  }

}




@media screen and (min-width: 650px) {

  .container {
    flex-direction: row;

  }

      .item {
        flex-grow: 1;

      }
      
      .item_title {
        font-size:large;
      }

      #dropdown_logo{
        width:max-content;
        max-width:140px;
        padding:4px;
        margin: 1vh 0 0 1vw;
      }



      .stats_button{
    
        font-size:large;
        
        padding:15px 20px;
        margin: auto 1vw;    
        border-radius: 14px;
    }

    

    .header_col {

      font-size:3.8vw;
    }



    

  #leedz_text_1 span, #leedz_text_2 span, #leedz_text_3 span   {
      font-size:large;
      line-height: 125%;
    }





    
  #stats_footer{
    font-size:small;
  }

}



  @media screen and (min-width: 1024px) {


    .header_col {
      padding: 0 4vw 6px 0;
  }

}



