
/*
 * LARGE SCREENS
 */

 @import "./globals.css";


 
@media screen and (min-width: 900px) {


      
    html {
      
      max-width: 1600px;

    font-size: 14px;
    line-height: 1.2;
    font-family: var(--FONT_3);
    color: black;

    
    } 



 
    
  #side_panel {
    
      width:max-content;
      left:0;
    }
    

    #open_side_btn {
     visibility: hidden;
    }



  #calendar_main {
    margin-left:0px;
    padding-right:10px;
    max-width: 700px;
  }




  

  #action_panel {
    display:flex;
  }


}