
/*
 * LARGE SCREENS
 */

 @import "./globals.css";


 
@media screen and (min-width: 600px) and (max-width: 899px) {


      
    html {
      
    font-size: 14px;
    line-height: 1.2;
    font-family: var(--FONT_3);

      --screen_size: M;
    } 


    #open_side_btn {
      visibility:visible;
      left:0;
     font-size:18px;
     padding: 10px;


    }


    #up_addLeed {
      margin-right:30px;
    }
 


  
    

  #calendar_main {
    left:0 !important;

  }




  

  #welcome_panel {
    display:none;
  }

  

#action_panel {
  display:none;
}


}