
/*
 * SMALL SCREENS
 */

 @import "./globals.css";


 
@media screen and (max-width: 599px) {

 
      
    html {
      font-size: 14px;
      line-height: 1.2;
   
      font-family: var(--FONT_3);

      --screen_size: S;
    }   



      

    
    #side_panel {
      
      width:0;

    }
    

    #open_side_btn {
     visibility:visible;
     left:0;
     font-size:18px;
     padding: 10px;

    }




#calendar_main {
position: relative;
  margin-left:10px !important;
}





#calendar_panel {
   
  width:96%;

}



  

#welcome_panel {
  display:none;
}



#action_panel {
  display: none;
}


}