
/*
 * SMALL SCREENS
 */

 @import "./globals.css";


 
@media screen and (max-width: 499px) {

 
      
    html {
      font-size: 14px;
      line-height: 1.2;
   
      font-family: var(--FONT_3);

      --screen_size: S;
    }   



      

    
    #side_panel {
      
      width:0;

    }
    

    #open_side_btn {
     visibility:visible;
     left:0;
     font-size:18px;
     padding: 10px;

    }





    #user_panel.row {
      
      padding-left:2vw;
      padding-right:3vw;
      font-size:smaller;
    }

        
    #user_panel label {
        font-size:smaller;
    }



    #up_dot {
        
      margin: auto 4px;
    }
      


    .badge_img {
        width:24px;
        height:24px;
    }

        
    #up_addLeed {
        
        height:22px;
        width: 22px;
        
        padding: 1px 2px 4px 2px;
        font-size:22px;
    
        margin: 0 4px 4px 0;
    }



    #up_logo img {
      padding: 4px;
      vertical-align: middle;
      width:60px;
      margin-right:0px;
  }
  
  
  






#calendar_main {
position: relative;
  margin-left:10px !important;
}





#calendar_panel {
   
  width:96%;

}



  

#welcome_panel {
  display:none;
}



#action_panel {
  display: none;
}


}