
/*
 * LARGE SCREENS
 */

 @import "./globals.css";


 
@media screen and (min-width: 600px) and (max-width: 899px) {


      
    html {
      
    font-size: 14px;
    line-height: 1.2;
    font-family: var(--FONT_3);
    color: black;

    } 


    #open_side_btn {
      visibility:visible;
      left:0;
     font-size:20px;
     padding: 10px 15px;


    }




  #calendar_main {
    left:0 !important;

  }




  

#action_panel {
  display:none;

}


}