
/*
 * LARGE SCREENS
 */

 @import "./globals.css";


 
@media screen and (min-width: 900px) {


      
    html {
      
      max-width: 1600px;

    font-size: 14px;
    line-height: 1.2;
    font-family: var(--FONT_3);
    color: black;
    } 



 
    




    #open_side_btn {
      opacity:0;
    }    
    #close_side_btn {
      opacity:0;
    }    




    

/* The sidepanel menu */
.trades_side {


  height: 100%; /* Specify a height */  
  width: max-content;

  
  z-index: 300; /* Stay on top */   
  
  left: 0;
  
  background-color: var(--LEEDZ_GRAY);

  border-right: 2px solid lightgray;

}




/* The sidepanel links */
.trades_side a {
  text-decoration: none;
}


  #calendar_main {
    margin-left:0px;
    padding-right:10px;
    max-width: 700px;
  }




  

  #action_panel {
    display:flex;
  }


}