
/*
 * LARGE SCREENS
 */

 @import "./globals.css";


 
@media screen and (min-width: 950px) {


      
    html {
      
    width:100%;
    font-size: 14px;
    line-height: 1.2;
    font-family: var(--FONT_3);


    --screen_size: L;
    } 



    #up_addLeed {
      margin-right:40px;
    }
 
    
  #side_panel {
    
      left:0;
    }
    

    #open_side_btn {
  visibility: hidden;
    }



  

  #action_panel {
    display:flex;
    overflow-y:scroll;

  }


}