
/*
 *
 *
 */

@import "./globals.css";


  #trades_column {

    position: static;
    z-index:400;

    display: flex;
    flex-direction: column;

    min-width:60px;
    max-width:200px;

    height:100%;
    width:min-content;
    padding-top:0;

    align-items: flex-start;
    overflow-x: hidden; 
    overflow-y: hidden;
  }

  



    .trades {
  
      
      width:auto;
      min-width: 60px;

      height:90%;

      line-height: 1.6em;
      padding-bottom: 10px;
      padding-left:10px;
      padding-right:0px;

      overflow-x: hidden;
      overflow-y: auto !important; 
     
    }
    
  
  
    #trades_list {
      
      
      padding-right:14px;
      padding-top:0px;
      padding-bottom:50px;

      list-style-type: none;
      
      overflow-x: hidden; 
      overflow-y: hidden;
    }

    


    .each_trade {
        
        display: flex;
        flex-direction:row;
        justify-content: left;
        width: fit-content;

        padding:3px;

        font-weight:400;
    }
  


  
    .trade_checkbox {
        cursor:pointer;
        
        accent-color: green;
        color:white;
    
        transform: translateY(2.5px);
    } 
  
 


    .trade_radio {
  
        display: inline-block;

        cursor:pointer;

        margin: 9px 8px 0px 6px;
        
        content: '';
    
        height: 16px;
        width: 16px;
        
        border: 0px solid var(--LEEDZ_DARKGRAY);
        border-radius: 50%;

        outline:none;
    }


    .forsale_leed {
      height: 22px;
      width: 22px;
      transform: translateY(-6px);
    }

    .user_leed {
      height: 14px;
      width: 14px;
      outline: 5px double var(--LEEDZ_DARKGREEN);
      transform: translateY(-6px);
      margin-left:7px !important;
    }
    

  
    .trade_active * {
        
        color:black !important;
        border: 0px;
    }
  
   
    .each_trade > label {      

      font-family: var(--FONT_3);
      font-size: 1.07em;
      transform: translate(-2px, 6px);
    }

    .each_trade > label:hover {      
      cursor:pointer;
    } 
  
    
  .each_trade > sup {
      font-size:smaller;
      color: var(--LEEDZ_DARKGREEN);
      padding-left:4px;
  }
  
  .each_trade > sup:hover {
    cursor: pointer;
  }


.add_button {
  display: block;
  
  height:80px;
  width:80px;
  
  border-radius: 20%;

  font-size:18px;
  font-weight: bolder;
  letter-spacing: 0.07rem;

  padding: 12px;
  border:none;
  
  margin:0 auto;

  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);   
}


.add_button:input {
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.5);
}

.add_button img {
  height:30px;
  width:30px;
}

.add_button b {
  display: block;
  margin: 0 auto;
}


button#add_trade.add_button {
  background-color: var(--LEEDZ_GREEN);
  color:black;
}


button#add_trade.add_button img {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}


button#post_leed.add_button {
  margin-top:5vh;
  background-color: var(--LEEDZ_DARKGREEN);
  color:white;
}

