
/*
 *
 *
 */

@import "./globals.css";


  #trades_column {

    position: static;
    z-index:300;

    display: flex;
    flex-direction: column;

    min-width:60px;
    max-width:200px;

    height:100%;
    width:min-content;
    padding-top:0;

    align-items: flex-start;
    overflow-x: hidden; 
    overflow-y: hidden;
  }

  



    .trades {
  
      
      width:auto;
      min-width: 60px;

      height:90%;

      line-height: 1.6em;
      padding-bottom: 10px;
      padding-left:10px;
      padding-right:0px;

      overflow-x: hidden;
      overflow-y: auto !important; 
     
    }
    
  
  
    #trades_list {
      
      
      padding-right:14px;
      padding-top:0px;
      padding-bottom:50px;

      list-style-type: none;
      
      overflow-x: hidden; 
      overflow-y: hidden;
    }

    


    .each_trade {
        
        display: flex;
        flex-direction:row;
        justify-content: left;

        margin-top:4px 0px;

        padding:2px;

        font-weight:400;
    }
  


  
    .trade_checkbox {
        cursor:pointer;
        
        accent-color: green;
        color:white;
    
        transform: translateY(2.5px);
    }
  
 


    .trade_radio {
  
        display: inline-block;

        cursor:pointer;

        margin-left: 8px;
        margin-right:5px;
        transform: translateY(-4.5px);
        top:0;
        
        content: '';
    
        height: 16px;
        width: 16px;
        
        background-color: white;
        
        border: 0px solid var(--LEEDZ_DARKGRAY);
        border-radius: 50%;

        outline:none;
    }


    .forsale_leed {
      height: 22px;
      width: 22px;
      transform: translateY(-6px);
    }

    .user_leed {
      height: 14px;
      width: 14px;
      outline: 5px double var(--LEEDZ_DARKGREEN);
      transform: translateY(-6px);
      margin: 0px 10px;
    }
    

  
    .trade_active * {
        
        color:black !important;
        border: 0px;
    }
  
   
    .each_trade > label {      

      font-family: var(--FONT_3);
      font-size: 1em;
      transform: translate(-2px, 6px);
   
      color: gray;
    }


  
  .each_trade > sup {
      font-size:smaller;
      color: var(--LEEDZ_DARKGREEN);
      padding-left:4px;
  }
  
   


  #add_trade_button {
    display: block;
    
    height:fit-content;
    width:fit-content;
    
    border-radius: 20%;
    background-color: var(--LEEDZ_DARKGREEN);
    color:white;

    font-size:18px;
    font-weight: bolder;
    letter-spacing: 0.07rem;

    padding: 12px;
    border:none;
    
    margin:0 auto;
}


#add_trade_button img {
  height:30px;
  width:30px;
}

#add_trade_button b {
  display: block;
  margin: 0 auto;
}